<h1>Blog NodeJs</h1>
<h4 class="mt-4">Sistema desenvolvido em NodeJs com Express e Handlebars.</h4>
<a href="/admin/categorias"><button class="btn btn-primary">Categorias</button></a>
<a href="/admin/postagens"><button class="btn btn-success">Postagens</button></a>